:root {
  --herosectionBoxShadow: 0px 8px 16px rgba(100, 100, 100, 0.25);
}
[data-theme="dark"] {
  --herosectionBoxShadow: 0px 4px 20px #000000;
}
.herosection_main {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px;
  margin: 5px;
  box-shadow: var(--herosectionBoxShadow);
  border-radius: 20px;
  margin-top: 20px;
  animation: onloadcategoryTitle 0.5s ease;
  min-height: 200px;
}
.herosection_main h2 {
  font-size: 20px;
  font-weight: 500;
  animation: onloadcategoryTitle 0.5s ease;
}
.herosection_main h3 {
  font-weight: 300;
  font-size: 15px;
  animation: onloadcategoryTitle 0.8s ease;
}
@keyframes onloadcategoryTitle {
  from {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(2px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes onloadCategoryContainer {
  from {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.01);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (max-width: 991px) {
  .herosection_main h2 {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .herosection_main {
    align-items: center;
    justify-content: center;
  }
}
